name: atsign_authentication_helper
description: A flutter plugin project to provide authentication for atsign apps. It provides both QR scanner and feature to upload file.
version: 0.0.5
homepage: https://atsign.com/
repository: https://github.com/atsign-foundation/at_widgets/tree/dev_env/atsign_authentication_helper

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  path_provider: ^1.6.27
  archive: ^2.0.13
  file_picker: ^2.1.6
  flutter_qr_reader: ^1.0.3
  permission_handler: ^5.0.1+2
  share: ^0.6.5+4
  webview_flutter: ^1.0.7
  qr_flutter: ^3.2.0
  
  at_client_mobile: ^1.0.0+8
  at_commons: ^1.0.1+5
  at_utils: ^1.0.1+5
  at_client: ^1.0.1+7
  pedantic: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.example.atsign_authentication_helper
        pluginClass: AtsignAuthenticationHelperPlugin
      ios:
        pluginClass: AtsignAuthenticationHelperPlugin

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
