name: at_backupkey_flutter
description: A Flutter plugin project for saving the backup key of any @‎sign that is being onboarded with @‎platform apps. The backup key can be used to authenticate in other @‎platform apps.
version: 3.1.3
homepage: https://atsign.dev
repository: https://github.com/atsign-foundation/at_widgets/tree/trunk/at_backupkey_flutter
issue_tracker: https://github.com/atsign-foundation/at_widgets/issues
documentation: https://atsign.dev/docs/functional_architecture/libraries/#at_backupkey_flutter

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  share_plus: ^3.0.4
  permission_handler: ^8.3.0
  path_provider: ^2.0.8
  file_saver: ^0.0.10
  at_utils: ^3.0.5
  at_client_mobile: ^3.1.5

  # desktop - dependencies
  file_selector: ^0.8.3
  file_selector_macos: ^0.0.4+1
  file_selector_windows: ^0.8.2
  file_selector_linux: ^0.0.2+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4

# dependency_overrides:
#  at_client_mobile:
#    git:
#      url: https://github.com/atsign-foundation/at_client_sdk.git
#      path: at_client_mobile
#      ref: trunk

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.atsign.at_backupkey_flutter
        pluginClass: AtBackupkeyFlutterPlugin
      ios:
        pluginClass: AtBackupkeyFlutterPlugin
      macos:
        default_package: at_backupkey_flutter
      windows:
        default_package: at_backupkey_flutter
      linux:
        default_package: at_backupkey_flutter

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
